@import "tailwindcss";

html {
    scroll-behavior: smooth;
  }
.input {
    @apply w-full px-4 py-3 rounded-lg bg-neutral-900 border border-yellow-500/20 text-white
           focus:outline-none focus:border-yellow-500 placeholder-gray-500;
  }
  